body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px !important;
}
.menu-principal {
    width: 100%;
    background-color: white;
    height: 110px;
}
main,
.content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 15px;
    width: 40%;
}
.col-6 p {
    font-size: 14px;
    float: right;
    width: 40%;
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 300;
    margin-top: -60px;
}
.header-2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 13px;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin: 15px;
    height: 37px;
}
.menu ul li a strong {
    color: #000000;
}
.menu ul li a:hover {
    color: black;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}
.busca {
    text-align: center;
    width: 30%;
    float: right;
}
.busca input {
    background-image: url("../img/icone-search.png");
    background-repeat: no-repeat;
    height: 30px;
    padding: 8px;
    width: 190px;
    margin-top: 10px;
    background-position: 93%;
    border: 1px solid #d6d6d6;
}
.col-100 {
    width: 100%;
    float: right;
    position: relative;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url("../img/anterior.png");
    top: 40%;
    left: 0;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url("../img/proximo.png");
    top: 40%;
    right: 0;
}
.slick-list {
    width: 100% !important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 900px;
}

li.slick-active button {
    background: #00bac6;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}
.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    float: left;
    position: relative;
}
.texto-destaque {
    margin-top: 4em;
}
.redes-sociais h1 {
    font-size: 35px;
    font-weight: 600;
    width: 105%;
    font-family: "Montserrat", sans-serif;
    float: right;
    display: block;
    color: #000;
    text-align: center;
    margin-top: 70px;
}
.redes-sociais ul {
    text-align: center;
    font-size: 33px;
    float: left;
    width: 100%;
}
.redes-sociais li {
    display: flex;
    width: 45%;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    align-items: center;
    border-radius: 40px;
    background-color: #8b8b8b;
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.redes-sociais li a {
    text-decoration: none;
    color: #000;
}
.redes-sociais ul li {
    margin-left: 500px;
}
.texto-final {
    text-align: center;
    display: flex;
    background: #cf080f;
    color: #fff;
    font-size: 20px;
    padding-top: 30px;
    margin-top: 80px;
    justify-content: center;
    width: 1903px;
}
.container {
    margin-top: 20px;
    width: 1170px;
}
.Copyright {
    background: #a80101;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
    padding: 2px 0;
}
.Copyright p {
    font-size: 16px;
}
